<div [@routerTransition]>
    <div class="card" style="margin-bottom:10px;">
     <div class="card-block text-center text-muted h3">
      Pedidos
     </div>
    </div>
    <hr />
    
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <div class="container">
        <div class="row">
            <div *ngIf="arrayPedidos.length > 0" class="col-12">
                <div class="card">
                    <div class="card-header">Pedidos</div>
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <button type="button" (click)="enviarPedido()" class="btn-responsive btn btn-info">Enviar pedidos</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label>Seleccionar pedido</label>
                                    <select class="form-control inputTextSize" (ngModelChange)="onChange($event)" [(ngModel)]="codPedidoActual">
                                        <option class="inputTextSize" *ngFor="let pedido of arrayPedidos; let i = index" value={{pedido.codigo}}>{{pedido.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>  
                    </div>

                    <!--<div class="card-header color text-center">{{pedidoActual.nombre}}</div>-->

                    <table class="card-block table table-responsive">
                        <thead>
                        <tr>
                            <th class="th-responsive">C&oacute;digo</th>
                            <th class="th-responsive">Producto</th>
                            <th class="th-responsive">Precio</th>
                            <th class="th-responsive">Pedido</th>
                            <th class="th-responsive">Total</th>                   
                        </tr>                      

                        </thead>
                        <tbody>
                            <ng-container *ngFor="let producto of pedidoActual.carrito.productos | keys; let k = index">
                                <tr app-modal-producto  [producto]="producto" [cliente]="pedidoActual" style="cursor:pointer;"></tr>
                            </ng-container>
                            <tr>
                                <td colspan="4" class="text-right"><b>Total: </b>{{dataService.truncate(pedidoActual.carrito.totalPrecioPedido)}}€</td> 
                            </tr>
                        </tbody>

                        <tr>
                            <th class="th-responsive">Observaciones</th>                                  
                        </tr>   
                        <input type="text"  id="ob" [(ngModel)]="pedidoActual.carrito.observa"> <!--AÑADIDO DAMIAN-->                   
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
