<div [@routerTransition]>
    <h2 class="text-muted">Pedidos</h2>
    <div class="row"> 
        <div class="container">
        
            <app-modal-clientes [nombre_boton]="'Nuevo pedido cliente'"></app-modal-clientes>

            
        </div>
    </div>
    
    <hr />
    
    <ngb-alert [type]="alert.type" (close)="dataService.closeAlert(dataService.alert)" *ngFor="let dataService.alert of alerts">{{ dataService.alert.message }}</ngb-alert>
    
    <div class="row">
        <!--<person-details *ngFor="let person of persons" [person]="person"></person-details>-->
        <app-stat  
          *ngFor="let client of dataService.clients" 
          [sizeOut]="'col-xl-12 col-lg-6'" 
          [bgClass]="'card-primary'" 
          [icon]="'fa-user'" [count]="26" 
          [label]="dataService.clients.clientes" 
          [isCollapsed]="dataService.clients.collapsed" 
          [index]="dataService.clients.index" 
          ></app-stat>
    </div>
    <hr />

</div>

    