<div [@routerTransition]>
    <div class="card" style="margin-bottom:10px;">
     <div class="card-block text-center text-muted h3">
      Inicio
     </div>
    </div>
    
    <div class="row"> 
        <div class="container">
            <app-modal-clientes [nombre_boton]="'Nuevo pedido cliente'"></app-modal-clientes>
        </div>
    </div>
    
    <hr />
    
    <ngb-alert [type]="alert.type" (close)="dataService.closeAlert(alert)" *ngFor="let alert of dataService.alerts">{{ alert.message }}</ngb-alert>
    
    <div class="row">
        <app-stat  
          *ngFor="let client of dataService.comercial.pedidos" 
          [sizeOut]="'col-xl-12 col-lg-6'" 
          [bgClass]="'card-primary'" 
          [icon]="'fa-user'" [count]="26" 
          [label]="client.nombre" 
          [isCollapsed]="client.collapsed" 
          [index]="client.id" 
          [codcli]="client.codigo" 
          [cobrosPendientes]="client.tieneCobrosPendientes" 
          ></app-stat>
    </div>
    <hr />

</div>

    