<a class="btn btl-lg btn-success"   (click)="open(content)" style="color:white">
              <i class="fa fa-plus fa-lg"></i> 
                &nbsp;{{nombre_boton}}
             </a>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Selecionar Cliente</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Seleccione un cliente</p>

	    <ng-selectize 
    	    [config]="singleSelectConfig" 
    	    [options]="singleSelectOptions" 
    	    [placeholder]="placeholder"
    		[(ngModel)]="singleSelectValue"
    		(ngModelChange)="onChange($event)"
    		ngDefaultControl
    	>
		</ng-selectize>
		<span  *ngIf="mostrarCodEnv">
		<p>Seleccione un código de envío</p>
    		<ng-selectize 
        	    [config]="singleSelectConfig2" 
        	    [options]="arrayCodigosEnvio" 
        	    [placeholder]="placeholder"
        		[(ngModel)]="dataService.clienteSeleccionado.codenv"
        		(ngModelChange)="seleccionarCodEnv($event)"
        		ngDefaultControl
        	>
    		</ng-selectize>
		</span>
	</div>
    
    <div class="modal-footer">
    <!--Falta darle funcionalidad a este boton para que cancele el pedido (lo borre del array de clientes)-->
        <button type="button" class="btn btn-success" [ngClass]="{'disabled': !clienteSeleccionado()}" (click)="dataService.addClient(!clienteSeleccionado())" (click)="close()">Seleccionar</button>
        <button type="button" class="btn btn-danger"  (click)="c('Close click')">Cancelar</button>
    </div>
</ng-template>
