<div class="{{sizeOut}}">
<div class="card card-inverse {{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs-3">
                <i class="fa {{icon}} fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
                <!--<div class="d-block huge">Resumén Productos{{count}}</div>-->
                <div class="d-block">{{label}}</div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-6">
            <a [routerLink]="['/familias']">
               <button (click)="empezarPedido()" class="btn btn-lg btn-{{boton_accion.tipo}}" type="button">{{boton_accion.accion}}</button>
            </a>
            </div>
            <div class="col-6">
               <app-modal-cancelar [nombre_boton]="'Cancelar'" [index]="index"></app-modal-cancelar>
            </div>
            <hr/>
    </div>
    <br/>
    <div id="collapseExample" [ngbCollapse]="isCollapsed" class="card-block">
        <ng-container *ngIf="listaProductosCliente.length > 0">
            <table class="card-block table table-responsive">
                <thead>
                <tr>
                    <th class="th-responsive">C&oacute;digo</th>
                    <th class="th-responsive">Producto</th>
                    <th class="th-responsive">Precio</th>
                    <th class="th-responsive">Pedido</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of listaProductosCliente; let i = index" class="table-active">
                    <td class="td-responsive">{{producto.codArt}}</td>
                    <td class="td-responsive">{{producto.nombre}}</td>
                    <td class="td-responsive">{{producto.precio}}</td>
                    <td class="td-responsive">{{producto.cantidadPedido}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-container *ngIf="!listaProductosCliente.length > 0">
              Cúando empieze el pedido, aquí verá los artículos añadidos.
        </ng-container>
    </div>
    <a  href="javascript:void(0)" (click)="dataService.closeTagsCLients(codcli)">
    <div class="card-footer">
        <span *ngIf="isCollapsed" class="float-left">Ver pedido del cliente</span>
        <span *ngIf="!isCollapsed" class="float-left">Contraer pedido cliente</span>
        <a href="javascript:void(0)" class="float-right card-inverse"  
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" >
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a>
    </div>
    </a>
</div>


