.card {
    margin-top:2%;    
}


.color {
   color:green;
}

.table-white {
    background-color:white;
    color:black;
}

@media (max-width: 990px) {
  .color {
   color:red;
  }
  
  .th-responsive {
       padding: 5px 5px;
       font-size: 50%;
   }
  
   .td-responsive {
       padding: 5px 5px;
       font-size: 50%;
   }
   
   .font-link {
       font-size:75%;
    }
}