    <div class="col-sm-12"  *ngIf="dataService.comercial.pedidos.length > 0">
        <div class="card">
            <div class="card-header">Pedidos</div>
            <div class="card-block">
                <ngb-tabset >
                    <ngb-tab ng  *ngFor="let grupo of arrayPedidosDeTresEntres; let i = index">
                        <ng-template ngbTabTitle><b class="font-link">P&aacute;gina{{i+1}}</b></ng-template>
                        <ng-template ngbTabContent>
                            <ngb-tabset type="pills">
                                <ngb-tab ng  *ngFor="let pedido of grupo; let j = index">
                                    <ng-template ngbTabTitle><b class="font-link">Pedido{{j+1}}</b></ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="card-header color text-center">{{pedido.nombre}}</div>
                                        <table class="card-block table table-responsive">
                                            <thead>
                                            <tr>
                                                <th class="th-responsive">C&oacute;digo</th>
                                                <th class="th-responsive">Producto</th>
                                                <th class="th-responsive">Precio</th>
                                                <th class="th-responsive">Pedido</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let producto of pedido.carrito.productos | keys; let k = index" class="table-active">
                                                    <!--<td class="td-responsive">{{stringifi+(producto)}}</td>-->
                                                    <td class="td-responsive">{{producto.codArt}}</td>
                                                    <td class="td-responsive">{{producto.nombre}}</td>
                                                    <td class="td-responsive">{{producto.precio}}</td>
                                                    <td class="td-responsive">{{producto.cantidadPedido}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>    
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>


