<div [@routerTransition]>
    <h2 class="text-muted">Productos {{dataService.nombreFormateado(dataService.familia_actual.familia)}}</h2>
    
    <hr />
    
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    
    </div>
    <div class="container">
      <div class="row">
        <div class="card mb-3">
                <div class="card-header color">Pedido para el cliente {{dataService.clienteActualPedido.nombre}}</div>
                <input (keyup)="filtrar()" [(ngModel)]="filtrado">
                <table class="card-block table table-responsive">
                    <thead>
                    <tr>
                        <th class="th-responsive">C&oacute;digo</th>
                        <th class="th-responsive">Producto</th>
                        <th class="th-responsive">Precio</th>
                        <th class="th-responsive">Stock</th>
                        <th class="th-responsive">Pedido</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let producto of arrayProductosFiltrados; let i = index" class="table-active">
                        <td class="td-responsive">{{producto.codart}}</td>
                        <td class="td-responsive">{{producto.articulo}}</td>
                        <td class="td-responsive">{{truncate(producto.prevena)}}</td>
                        <td class="td-responsive">{{truncate(producto.stock)}}</td>
                        <td class="td-responsive">
                            <!--<div class="row">-->
                              <!--<div class="col-lg-offset-2 col-lg-2"></div>-->
                              <!--<div class="col-lg-offset-12 col-lg-12">-->
                                <div class="input-group">
                                  <span class="input-group-btn">
                                    <!--<a [ngClass]="{'disabled': i.cantidadPedido  <= 0}" class="btn btn-danger" (click)="sumaStock(i.codArt)" id="btn-{{i.codArt}}" >-->
                                    <a class="btn btn-danger" (click)="restarPedido(producto.codart)">
                                      <i class="fa fa-minus" title="Align Left"></i>
                                    </a>
                                  </span>
                                  
                                  <!--<input type="text" class="form-control" placeholder="" -->
                                  <!--[(ngModel)]="i.cantidadPedido" -->
                                  <!--(keyup)="calcularCantidad(i.codArt, $event)" -->
                                  <!--value="{{i.cantidadPedido}}"-->
                                  <!-->-->
                                  
                                  <input type="text" class="form-control" placeholder=""
                                  [(ngModel)]="dataService.clienteActualPedido.carrito.productos[producto.codart].cantidadPedido"
                                  (keyup)="comprobarValorNumerico($event, producto.codart)"
                                  >
                                  <span class="input-group-btn">
                                    <!--<a  [ngClass]="{'disabled': i.cantidadPedido >= i.stock}"  class="btn btn-success"  (click)="restaStock(i.codArt)">-->
                                    <a class="btn btn-success" (click)="sumarPedido(producto.codart)">
                                      <i class="fa fa-plus" title="Align Left"></i>
                                    </a>
                                  </span>
                                </div>
                              <!--</div>-->
                              <!--</div>-->
                            </td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />

