<a href="javascript:void(0)" (click)="open(content)" class="btn btn-primary separated-btn {{bgClass}}">
    <i class="fa fa-money"> {{nombre_boton}}</i>
</a>         
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Historial de pedidos</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        
        <table class="card-block table table-responsive">
                <thead>
                <tr class="active">
                    <th class="th-responsive">Fecha</th>
                    <th class="th-responsive">Nº pedido</th>
                    <th class="th-responsive">Total</th>
                </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let albaran of albaranes; let i = index" class="table-white">
                    <td class="td-responsive">{{quitarHoraFecha(albaran.fecha)}}</td>
                    <td class="td-responsive text-center">{{albaran.presupuesto}}</td>
                    <td class="td-responsive">{{toFixed(albaran.total)}}</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <div class="modal-footer">
    <!--Falta darle funcionalidad a este boton para que cancele el pedido (lo borre del array de clientes)-->
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>